<!-- Hero Section -->
<div class="container-fluid bg- text-black py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">BIENVENIDOS A MI API</h1>
        <p class="lead mb-4">Dragon Ball, Pokémon y Cócteles.</p>
        <div class="d-flex gap-3">
        </div>
      </div>
      <div class="col-lg-6 text-center">
       <img src="https://st3.depositphotos.com/2801893/19275/v/450/depositphotos_192755326-stock-illustration-welcome-together-people-with-big.jpg" alt="..." class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</div>

<!-- Sección de Características -->
<div class="container py-5">
  <div class="row g-4">
    <!-- Tarjeta Dragon Ball -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body text-center">
          <h3 class="card-title">Dragon Ball</h3>
          <p class="card-text">Conoce mas sobre Dragon Ball.</p>
          <button class="btn btn-success rounded-pill" routerLink="/dbz">
            Explorar
          </button>
        </div>
      </div>
    </div>

    <!-- Tarjeta Pokémon -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body text-center">
          <h3 class="card-title">Pokémons </h3>
          <p class="card-text">Conoce todos sobre los Pokémon.</p>
          <button class="btn btn-success rounded-pill" routerLink="/pokemon">
           Explorar
          </button>
        </div>
      </div>
    </div>

    <!-- Tarjeta Cócteles -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body text-center">
          <h3 class="card-title">Cócteles API</h3>
          <p class="card-text">Conoce mas sobre cócteles.</p>
          <button class="btn btn-success rounded-pill" routerLink="/cocteles">
            Explorar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

